*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    min-height: 100vh;
    width: 100%;
    background: #111;
    padding: 30px; 
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}