.card-container {
  /* padding: 10px; */
  height: 700px;
  width: 400px;
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.top-container img {
  width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.top-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container h3 {
  font-size: 1.7rem;
  font-weight: 400;
  padding-top: 0.2rem;
}
.user-container {
  display: flex;
  position: relative;
  gap: 3rem;
  margin-bottom: 0.7px;
  font-weight: 400;
  color: gray;
}
.user-container p:nth-child(1)::after {
  position: absolute;
  content: "";
  height: 20px;
  opacity: 0.5;
  width: 0.3px;
  background: gray;
  top: 5px;
  left: 50%;
}
.top-container p:nth-child(4) {
  letter-spacing: 3px;
  color: gray;
}

.middle-container {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  align-items: center;
  border: 1px solid #d8d1d1;

  justify-content: space-around;
}
.middle-container .icon-name-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-container .icon-name-container:not(:nth-child(4)) {
  border-right: 1px solid rgb(214, 192, 192);
}
.icon-name-container p {
  font-weight: 500;
  font-size: 1.1rem;
}
.third-container {
  padding: 15px;
  color: gray;
}
.fourth-container {
  position: relative;
  align-items: center;
  padding: 17px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(212, 203, 203);
  border-bottom: 1px solid rgb(212, 203, 203);
}
.fourth-container::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  opacity: 0.3;
  background: gray;
}
.follow-section {
  display: flex;
  gap: 7px;
}

.follow-section p {
  color: rgb(23, 163, 218);
}

.bottom-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bottom-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-first p:first-child {
  font-weight: 400;
  font-size: 2rem;
}
.bottom-first p:nth-child(2) {
  color: gray;
  font-size: 1.2rem;
  
  letter-spacing: 10px;
}
.line {
  width: 100%;
  height: 1px;
  background: gray;
  opacity: 0.4;
}
