* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #313131;
  width: 100%;
}

a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
h1{
  font-size: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  text-decoration: underline;
  color: white;
}

header{
  background: white;
  padding: 20px;
 width: 100%;
  display: flex;
  font-size: 3rem;
  justify-content: space-evenly;
  color: yellow;
}

ul{
  display: flex;
  gap: 3rem;

}